# 1. すべてを無視
*

# 2. ディレクトリ構造だけは辿れるようにする
!*/

# 3. ルートにある必須ファイルを許可
!.gitignore
!README.md
!LICENSE
!Main.ahk
!.pre-commit-config.yaml

# 4. 特定フォルダ内の「.ahk」ファイルだけを許可
!modules/**/*.ahk
!ui/**/*.ahk
!tests/**/*.ahk

# 5. 上記の許可を上書きしてでも「.ini」は絶対に無視
*.ini
.history/
